header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding: 38px 48px;
    background-color: var(--background-tertiary-color);
}

.logo{
    display: inline-block;
    width: 68px;
    height: 64px;
}

nav{
    display: none;
}

.navegation-menu{
    margin-top: 24px
}

input[type="checkbox"]:checked ~ nav {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-tertiary-color);
}

.list-links li{
    list-style:none;
    margin: 16px 0;
}

.list-links li a{
    color: var(--secundary-text-color);
    text-decoration: none;
    font-weight: var(--menu-text-weight);
    font-size: 24px;
}

@media screen and (min-width: 768px) {
    .navegation-menu{
        margin-top: 0;
        width: 467px;
    }
    
    .navegation-menu label{
        display: none;
    }

    .navegation-menu nav{
        display: block;
    }

    .navegation-menu ul{
        display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 0;
    }

    .navegation-menu li {
    margin: 0;
    }

    .list-links li a {
    color: var(--secundary-text-color);
    text-decoration: none;
    font-weight: var(--menu-text-weight);
    font-size: 24px;
}
}
